@charset "UTF-8";
.evaluateList li{ padding-top:12px; padding-bottom:12px;}
.userInf img{ width:22px; height:22px; border-radius: 11px;-moz-border-radius: 11px;-webkit-border-radius: 11px; margin-right:5px; vertical-align: middle; }