@using System.Net.Http.Headers
@using System.Web.UI.HtmlControls
@using ServiceStack.Text
@using SFO2O.BLL.Common
@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.Utility.Extensions
@using SFO2O.Utility.Uitl
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "我的设置";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = true;

}
@model SFO2O.Model.Account.CustomerEntity
@section styles {
    <!--页面独有样式-->
    <link rel="stylesheet" type="text/css" href="../Content/css/set.css?v=20160413">
    <!--页面独有样式 END-->
}
@section scripts {
    <!--页面独有脚本-->
    <script type="text/javascript" src="../Scripts/set.js?v=20130413"></script>
    <!--页面独有脚本 END-->
}
@section pageHeader {
    <!-- 页头 -->
    <header class="pageHeader w100 pr tc overflowH">
        <a class="returnBtn" id="returnBtn"></a>
        <b class="f36 FontColor1">设置</b>
        <div class="flowerMenu" onclick="FSH.menuDialog()"></div>
    </header>
    <!-- 页头 end -->
}
@if (Model != null)
{
        <!--正文-->
    if (Model.IsPushingInfo == 1)
    {
        <div class="boxShadow item w95p bgColor3 mt8 mb8 f28">
            <i class="fr set active"></i>
            允许推送促销信息
        </div>
	<!--正文 END-->
    }
    else
    {
        <div class="boxShadow item w95p bgColor3 mt8 mb8 f28">
            <i class="fr set"></i>
            允许推送促销信息
        </div>
    }
    <div class="f20 FontColor4 w95p">设置允许后，健康绿氧平台将向您推送促销信息，如果不允许，将收不到促销信息。</div>
}
