@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "关于我们 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
@section pageHeader {
   <!-- 页头 -->
<header class="pageHeader w100 pr tc overflowH">
    <a class="returnBtn" id="returnBtn"></a>
    <b class="f36 FontColor1">关于我们</b>
</header>
    <!-- 页头 end -->
}
<div class="articleWrap  mt8 boxShadow bgColor3 f28 FontColor3">
 <b> 爱玖网概述</b><br>
「爱玖网」让客户无需再为网购商品的真伪而感到忧虑，带给您犹如在实体店店铺直接购物般的购物体验。我们依靠专业的物流及服务团队，为您提供完善的物流配送及售后服务，让您随时感受到最佳的网上购物体验及最优质的售后服务。<br>
我们相信「爱玖网」对您来说不止是一个安心购物的网上平台，亦是让您生活更舒适、更有品质的伙伴。未来我们将会开拓更多新服务，来满足您各种生活所需，让我们为您带来全新的购物新体验。<br>
<b>品牌故事</b><br>
目前国内电子商务市场鱼龙混杂，假货泛滥，正品行货很难到达内地消费者手中。为此，很多消费者不得不去实体商品。「爱玖网」正是为了解决此类消费者的痛点应运而生。<br>
<b>品牌理念</b><br>
打造高品质、可信赖的中国品牌、为消费者提供更健康、更有品质的生活服务，成为全球更一流的电子商务平台。<br>
<b>经营理念</b><br>
不断倾听和深刻理解用户需求，不断给用户带来惊喜。<br>
不断提供超预期的体验和服务，不断创造新的用户价值。<br>
用户是上帝，也是我们的衣食父母，坚持用户利益至上。<bR>
尊重和善待合作伙伴，一起创建共生共赢的生态环境。<br>
怀感恩的心，注重社会责任，尽企业的力量，回报社会，施帮助于需要帮助的人，塑造健康企业形象。<br>
<b>微信公众号</b><br>
@*客服电话：<a class="FontColor6" href="tel:400-869-2929" style="text-decoration:none;">400-869-2929</a><br>*@
爱玖网官方微信公众号：wdnzmt9<br>
@*<img src="~/Content/images/fshwx.jpg?v=201606210001" style="width:170px;">*@




</div>