@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "使用条款及细则 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
@section pageHeader {
   <!-- 页头 -->
    <header class="pageHeader w100 pr tc overflowH">
        <a class="returnBtn" id="returnBtn"></a>
        <b class="f36 FontColor1">爱玖网条款</b>
    </header>

    <!-- 页头 end -->
}
<div class="agreementWrap  mt8 boxShadow bgColor3 f28 FontColor3">
    <section>
        <h3 class="w100 tc">使用条款及细则</h3>
        <p>
            本使用条款及细则适用于买家在浏览及使用北京梵禹科技有限公司（以下简称为「本公司」）的电子商务平台－爱玖网（以下简称为「本网站」），请于使用本网站前仔细阅读本条款及细则。买家使用本网站，即表示买家接受并同意受本条款及细则所约束。<br>

            <b>1.	本条款及细则适用范围</b><br>
            1.1	本网站之使用；<br>
            1.2	本服务器或任何其他服务器所储存或取得的信息（「有关信息」）；<br>
            1.3	任何透过本网站索取或购买之商品或服务；<br>
            1.4	本条款限制北京梵禹科技有限公司旗下业务机构及其相联营公司、子公司、
            雇员、代理人、承办商及任何第三方信息供应者就该等使用、有关信息、商品及服务所承担之责任。<br>

            <b>2.	释义</b><br>
            本条款及细则，以下词语具有下列释义：<br>
            2.1 「买家」指本网站的使用者；<br>
            2.2 「内容」指本网站所展示或可从中浏览的所有信息、数据、内文、软件、音
            乐、声音、相片、图像、录像、讯息及其他详情；<br>
            2.3「商品」指商家于本网站提供或售予买家的任何商品及服务；<br>
            2.4「商家」指成功入驻本网站，并在本网站售卖商品及服务的使用者；<br>

            <b>3.	会员账户</b><br>
            3.1买家须注册成为会员才可于本网站购物；<br>
            3.2 买家于本网站提供的所有信息都是完整和准确的；<br>
            3.3 买家必须将帐户及密码保密，并承担就所有利用其帐户或密码进行活动的责
            任；<br>
            3.4 如本公司有合理理由怀疑买家所提供的任何信息属不准确、不完整或并非最
            新，或买家违反任何条款及细则，本公司有权随时暂停或终止买家的会藉。<br>
            <b>4.	购物规则</b><br>
            4.1 购物须知	<br>
            4.1.1 本公司一律透过以电子邮件方式确认同意接受买家之订单及其订单内容，在本公司发出确认电子邮件前，买家在本网站选购之商品均未被视为售出；<br>
            4.1.2买家提交订单后，均不可取消订单，即使本公司仍未经电子邮件确认买家之订单；<br>
            4.1.3买家同意本网站向商家或其他供应商披露买家的信息，以便联系买家
            和执行交易；<br>
            4.1.4 本公司保留不接纳或取消买家订单的权利，包括但不限于以下因素：<br>
            4.1.4.1 任何商品信息出现明显错误；<br>
            4.1.4.2商品库存量不足；<br>
            4.1.4.3 各种原因而导致未能安排配送；或<br>
            4.1.4.4 不可抗力因素、系统问题或故障，导致未能安排完成订单。<br>
            4.2 价格及支付<br>
            4.2.1 本公司将尽最大努力确保商品价格的准确性；<br>
            4.2.2 如买家订购的商品价格有误差，本公司将有权安排取消订单而毋须向
            买家作出任何赔偿；<br>
            4.2.3 部份商品可配送至中国境内，该商品的价格将以支付当日的货币率计算，并以人民币显示；<br>
            4.2.4 如该网上付款交易结算于中国境内，本公司将接受以银联信用卡付款；如该网上付款交易结算于中华人民共和国大陆地区，本公司将接受以Visa信用卡、Master信用卡及银联信用卡付款；<br>
            4.2.5如该网上付款交易结算于中华人民共和国大陆地区，本公司亦提供货到付款服务。现时货到付款服务仅接受买家以港币现金支付；<br>
            4.2.6为保障买家的利益，信用卡必须有效并且以买家为持卡人，本公司不会就任何信用卡错误或任何盗用行为承担任何责任。买家应弥偿本公司因买家自行疏忽而导致本公司的任何损失和费用；<br>
            4.2.7 如本公司未能成功收取款项或有合理理由怀疑买家的交易有可疑，本公司有权单方面取消买家之订单，而不作另行通知；<br>
            4.2.8 买家于进行信用卡交易时所招致的损失，本公司不会承担任何责任；<br>
            4.2.9 买家可使用本公司所发出的特定购物券，当买家使用此类特定购物券时，即表示买家完全接受特定购物券上所展示的条款及细则。<br>
            4.3 评语及意见<br>
            4.3.1 本公司保留删除及编辑买家提交之评语及内容的权利；<br>
            4.3.2 买家须在购买商品后才可评价该商品或商店；<br>
            4.3.3 买家之评语不应包含任何非法的、有害的、恐吓性的、辱骂性的、骚
            扰性的、民事侵权的、破坏名誉的、粗俗的、淫秽的、诽谤的、侵犯他人私
            隐的、仇恨性的、道德上、在种族、人种等方面或其他方面会引起反感的内
            容；<br>
            4.3.4 如买家对商品或商店有任何疑问或意见，可与本公司的客户服务代表联系。<br>

            <b>5.	知识产权及版权</b><br>
            5.1 本网站内容可能受到知识产权法律及权利的保障（包括但不限于保护版权之法例）。如买家下载、复制、传送、刊印、储存或以其他形式使用有关信息，而事前并未获得上述权利拥有人的同意，买家可能侵犯上述法律或权利；<br>
            5.2 买家须自行查明其行为会否造成上述侵犯版权的情况。本网站内提供的任何信息，包括但不限于文字、美术作品、图标、图像及商标，均受本公司或第三方（包括北京梵禹科技有限公司及其有关联之公司）拥有或管制的版权、商标或其他知识产权所保护；<br>
            5.3 本网站内知识产权所附有的全部权利、所有权和权益，在任何时间均属本公司或第三方（包括所有北京梵禹科技有限公司及其有关联之公司）拥有的财产。在未经本公司或该等第三方（包括所有北京梵禹科技有限公司及其有关联之公司）书面明确许可前，买家及网站访客一概不得使用该等知识产权；<br>
            5.4 本公司或与本公司有关联之公司所拥有的商标，在多个国家均拥有注册商标或正等候商标注册的申请。若买家擅自使用或复制有关商标，可能构成侵犯本公司的权利。<br>

            <b>6.	一般免责声明</b><br>
            6.1 本公司表示不会对下列事宜承担责任或作出陈述或保证：<br>
            6.1.1 本网站内容的质量、运作、使用、准确性或时效，或对任何目的之适合性或用途；<br>
            6.1.2 透过本网站或根据有关内容索取、提供或购买之任何商品或服务；<br>
            6.1.3 浏览本网站或有关内容时不受干扰，或有关内容不含任何电脑病毒或不具污染性或破坏性；<br>
            6.1.4 有关内容不会令买家或其他人士反感或厌恶；<br>
            6.1.5 有关内容含有或会引致错误、遗漏或失实之陈述；<br>
            6.1.6 本网站并不认可或推荐有关内容提及的任何人士、机构、名称、商品或服务，而有关内容亦不代表本网站的观点或意见。本公司不会参与买家与第三者就有关内容或透过本网站而进行的交易，但以书面另有说明者除外。而即使参与，亦仅限于所说明的程度。<br>

            <b>7.	第三者网站</b><br>
            7.1 本网站或会包含第三者提供的内容或其他网站的连结；<br>
            7.2 本网站对于任何不受其直接控制的第三者内容或其他网站（无论是否与本网站连结）的运作或内容，一概不承担任何责任；<br>
            7.3 若其他网站未经本公司事先同意而装设与本网站的连结，本公司保留要求剔除有关连结的权利。<br>

            <b>8.	责任限制</b><br>
            8.1 无论是基于侵权、合约、法例或其他方面（包括但不限于疏忽、违约、诽谤或侵犯知识产权），本公司均不会就买家或任何其他人士因为有关内容或使用本网站而导致或招致买家须对任何其他人士承担的责任而向使用者或任何第三者承担任何直接损失或任何相应产生或间接的损失（包括但不限于收入或盈利的损失）；<br>
            8.2 本公司并不保证任何透过本网站传送的个人或其他内容或信息的保密性（并拒绝为此承担责任）。本公司的现行做法是采取合理的措施以维护保密性；<br>
            8.3除本公司同意外，本公司不会赔偿任何因商家的商品或服务引致的人身伤害或任何索赔，买家应独立向商家索偿任何损失。<br>

            <b>9.	承诺与保证</b><br>
            9.1 基于本公司容许买家浏览有关内容及使用本网站，买家必须承诺：<br>
            9.1.1 不会进行或容许进行任何侵犯版权、设计权及知识产权的活动；<br>
            9.1.2 不会利用有关内容或本网站之使用权，作任何非法、不当或淫亵的用途；<br>
            9.1.3 不会利用本网站威胁、诽谤、辱骂、骚扰、或侵犯其他人士的权利；<br>
            9.1.4 不会阻碍或干扰本网站的运作；<br>
            9.1.5 采取一切措施，确保有关内容不会损害本网站系统；<br>
            9.1.6 确保买家向本公司提供的一切真实及准确的内容；<br>
            9.1.7 容许本公司对有关内容的使用进行研究调查；<br>
            9.1.8 同意并遵守本网站的所有营运条款、购买、退货、积分等制度；和<br>
            9.1.9 接纳本条款所载的一切免责声明及责任限制。<br>

            <b>10.	补偿</b><br>
            有关本网站的使用，买家同意就任何因违反本条款及细则或因疏忽而引致的一切损失、损害、申索、要求、责任、费用（包括法律费用）及开支，向本公司作出补偿并使本公司免受损失。<br>

            <b>11.	法律约束及内容的可分割性</b><br>
            11.1 本条款受中华人民共和国大陆地区法律约束，而每部分的应用仅限于该法律所允许的程度；<br>
            11.2 若本条款内有任何部分在任何司法管辖区被禁止或无法执行，只有被禁止或无法执行的部分在该司法管辖区宣告无效，并与其余的使用条款分割，不会影响本条款其余部分无效或该部分在其他司法管辖区的合法性或可执行；<br>
            11.3 本网站所提供的内容只作参考用途。对于本网站所载的任何内容的准确性及完整性，本公司一概拒绝承认任何隐含或明示的保证，并且不会就此作出任何陈述；<br>
            11.4 对于因使用或依赖本网站的内容或任何网站上载或与网站连结的任何东西，包括但不限于任何错误、误差、遗漏、或侵权性质、诽谤性质或虚假性质的信息或任何其他可导致冒犯或在其他方面引致发生任何追索或投诉的内容或遗漏，而导致之任何损失或损害，本公司概不承担任何有关责任。<br><br>

            本公司有权修改或更新本条款及本网站的任何内容，包括本公司所提供的所有商品与服务，而毋须另行通知。买家应不时参阅本网站之条款，买家继续使用本网站即表示同意接受经修订的使用条款。如有任何争议，本公司保留最终决定权。<br>

            本使用条款及细则以中文和英文写成，具有同等效力。若英文和中文版本有任何
            分歧，以繁体中文版本为准。
        </p>
    </section>
    <section>
        <h3 class="w100 tc">私隐政策</h3>
        <p>
            <b>私隐声明</b><br>

            北京梵禹科技有限公司（以下简称为「本公司」）的电子商务平台－爱玖网（以下简称为「本网站」）尊重并保护用户隐私。本公司确保在收集、使用、保留、转移及查阅个人资料方面的政策及常规，均符合中华人民共和国大陆地区法例第486章《个人资料（私隐）条例》的规定。本公司同样承诺确保本公司所有雇员及代理坚守这些责任。<br>

            <b>收集和使用客户信息目的和用途</b><br>

            当买家登记使用本公司的服务或参加本网站的活动，本公司会收集买家的个人资料使本公司能够为买家提供服务。买家提供个人资料，即代表买家同意本公司按本私隐政策使用买家的个人资料。<br>

            买家可以在不提供个人资料的情况下浏览或使用本网站。当没有登入帐户浏览网站时，买家会以匿名身份浏览，而本公司无法辨出买家的身份。买家可拒绝向本公司提供个人资料，但在此情况下，本公司可能无法为买家提供服务。<br>

            买家明白及同意本公司及其有联系公司和关联公司（以下简称为「本集团」）可使用本公司收集所得的和买家提供的资料，作下列一种或更多用途：<br>

            -	识别买家的身分及买家开设的任何账户；<br>
            -	核实身份及／或作清关用途（适用于中国大陆客户之帐户）；<br>
            -	为买家处理订单、开出账单及其他与服务有关的付款服务；<br>
            -	进行市场研究、统计分析及行为分析，为买家提供所需服务及内容；<br>
            -	为买家提供客户服务；<br>
            -	处理买家的投诉及账户查询；<br>
            -	推广、宣传及促销速运配送、物流、电子商贸、转运、集运、零售、自提点网络及任何与本公司业务发展有关的商品及服务等；或<br>

            -	资料收集以核实身份及记录，并保持联系名单以作通讯、商品配送、审计之用；以及任何与收集个人资料的原来目的直接有关的其他用途。<br>

            本公司未取得买家的同意前，不会向第三者（除其有联系公司和关联公司外）提供买家的个人资料作直接促销或其他不相关的用途。本公司收集及持有关于买家的个人资料均会被保密处理；但若需要按法例的规定或要求而履行法律责任，或为买家提供服务，或执行收集个人资料的原来目的或直接有关之目的，本公司有可能会向下述人士披露该等资料（不论其身处中华人民共和国大陆地区或中华人民共和国大陆地区境外）：<br>
            1.	按照法律授权或规定而有权获悉资料的人士或机构；<br>
            2.	参与服务销售及市场推广或行政，或提供商品╱服务的卖家或承办商、代理或其他服务供应商；<br>
            3.	本公司之业务伙伴、子公司及联营公司；<br>
            4.	任何对本公司有保密责任的其他人士，包括已承诺保密该等资料的公司集团成员、资讯科技顾问、资料处理承办商、审计师、会计师、或律师；及<br>
            5.	银行、金融机构、信用卡发行公司或追收欠款服务公司。<br>
            任何由买家传送或登载于本公司网站或网站任何部份的问题、意见、建议或资料，除个人资料外，均视作以非保密及非专有资料的形式自愿提供予本公司。本公司有权自行将该等资料在其他地方使用、复制、披露、传送、刊载及／或登载，包括但不限于为服务的开发和推广及为满足客户的需要等目的，而将该等资料提供给本集团。若在运作上有需要，本公司会将个人资料转移至中华人民共和国大陆地区以外的地方以达到收集此等资料之目的，或直接与其有关之目的。任何有关的资料转移都会遵照条例之规定及约束。<br>
            <b>个人资料的保存</b><br>
            本公司维持及执行载有个人资料的记录的保留政策，以确保个人资料的保存时间不会超过将其保存以贯彻该资料被使用于或会被使用于的目的而所需的时间。根据保障个人资料的政策，本公司所收集及持有的各类个人资料是有不同的保留时间。<br>
            <b>浏览网站时被收集的资料</b><br>
            当买家浏览本网站时，本公司的服务器会自动记录买家的浏览器所传送的资料。资料包括但不限于：<br>
            - 到访人次；<br>
            - 买家的IP地址及域名；<br>
            - 浏览器类别及设置；<br>
            - 语言设定；<br>
            - 地理位置；<br>
            - 操作系统；<br>
            - 浏览本公司网站前所浏览的网页；<br>
            - 本网站内浏览的页面；和<br>
            - 于上述页面的使用时间、搜寻的商品及资料、存取时间及日期，以及其他统计数据。<br>
            <b>关于使用cookies档案</b><br>
            当买家浏览本网站时，一些cookies档案将会储存于买家电脑的硬碟内。当买家按下自动更新的展示横额时，这些cookies档案会让买家正确地转接到相关的网页。在此情况下，本网站不会收集或储存任何关于买家的个人资料。买家可以选择不接受cookies档案；但买家若不接受的话，本网站的一些功能，如展示横额的转接功能，可能无法运作。<br>
            本公司使用网站服务器访客纪录作维持及改善网站运作，例如判断最佳网站解像度，得知最多人浏览的网页等。这些资料只用于提升及优化网站用途。<br>
            本公司不会，并且无意，使用到访人士的资料作识辨身份的用途。<br>
            <b>直接市场推广</b><br>
            本集团拟使用买家的资料作直接促销用途推广本公司的服务及业务伙伴的商品及服务。本集团可透过邮件、电话、社交媒体连结、短讯、文字／图像／视像讯息、传真、电子邮件等方式联系买家。倘买家不想接收，请电邮至<a href="mailto:mkt@sf-o2o.com">mkt@sf-o2o.com</a>。买家可在提供予本公司的客户资料前表明买家的偏好。<br>
            <b>连线网页</b><br>
            本私隐政策声明只适用于本网页。本公司的网页可能载有通往其他网址及网页的连线点。每当买家启动任何此等连线网址，例如点选任何广告客户的连线栏目，买家即已离开了本网页；而买家在离开本网页后向任何其他团体提供的任何个人资料或任何其他资料，一概不在本公司的管控范围内。买家须承担一切浏览或使用其他网址的风险。<br>
            <b>个人资料的安全保障</b><br>
            本公司一向致力确保买家的个人资料受到保护，以免在未经授权或意外的情况下被查阅、处理、删除或用作其他用途。本集团已执行各项适当的实质、电子及管理措施，以保障及确保买家个人资料的安全。然而，请买家理解本集团不可能保证传输资料的安全。<br>

        </p>
        <p class="tr ">更新日期：2015年10月13日</p>
    </section>
</div>