@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "配送服务 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
@section pageHeader {
    <!-- 页头 -->
    <!-- 页头 -->
    <header class="pageHeader w100 pr tc overflowH">
        <a class="returnBtn" id="returnBtn"></a>
        <b class="f36 FontColor1">配送服务</b>
    </header>
    <!-- 页头 end -->
}
<div class="articleWrap  mt8 boxShadow bgColor3 f28 FontColor3 mb20">
    「爱玖网」致力为您提供可靠、快捷的物流及配送服务，与物流公司联手，达成战略合作，拥有优质的仓库监控机制及采用全自动化系统，每日处理大量货物，更令您快人一步收到优质正货商品，享受一站式快捷及方便的网购体验：<br>
   
    <span class="serviceIcon3"></span><b>一件都送：</b><br>为令你获得最具弹性的购物体验，即使您只购买一件商品，我们都为您提供突破性的「一件都送」服务，不论这件商品价钱高或低，我们都承诺将该商品送达府上。<br>

    <span class="serviceIcon4"></span><b>免运费：</b><br>「爱玖网」希望减少您对运费问题的烦恼，于推广期内，我们豁免所有商品配送费用，并免除一切额外附加费，让您安坐家中便可获取商品。<br>

</div>