@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "使用条款及细则 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
@section pageHeader {
<!-- 页头 -->
    <header class="pageHeader w100 pr tc overflowH">
        <a class="returnBtn" id="returnBtn"></a>
        <b class="f36 FontColor1">使用条款及细则</b>
    </header>
}
<!-- 页头 end -->
<div class="articleWrap  mt8 boxShadow bgColor3 f28 FontColor3">
    本使用条款及细则适用于买家在浏览及使用北京梵禹科技有限公司（以下简称为「本公司」）的电子商务平台－爱玖网（域名为：www.wdnzmt9.com）（以下简称为「本网站」），请于使用本网站前仔细阅读本条款及细则。买家使用本网站，注册即表示买家接受并同意受本条款及细则所约束。<br>

    <b>1.	释义</b><br>
    本条款及细则，以下词语具有下列释义：<br>
    1.1 「买家」指本网站的使用者；<br>
    1.2 「内容」指本网站所展示或可从中浏览的所有信息、数据、内文、软件、音乐、声音、相片、图像、录像、讯息及其他详情；<br>
    1.3「商品」指商家于本网站提供或售予买家的任何商品及服务；<br>
    1.4「商家」指成功入驻本网站，并在本网站售卖商品及服务的使用者。<br><br>

    <b>2.   本条款及细则适用范围</b><br>
    2.1 本网站之使用；<br>
    2.2 本服务器或任何其他服务器所储存或取得的信息（「有关信息」）；<br>
    2.3 任何通过本网站索取或购买之商品或服务；<br>
    <p>本条款包括但不限于北京梵禹科技有限公司旗下业务机构及其相联营公司、子公司、雇员、代理人、承办商及任何第三方信息供应者就该等使用、有关信息、商品及服务所承担之责任。</p><br><br>


    <b>3.	会员账户</b><br>
    3.1 买家按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后，即成为本网站会员；买家须注册成为会员才可于本网站购物；<br>
    3.2 在注册时，买家应当按照法律法规要求，或注册页面的提示准确提供，并及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，本网站有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部服务。本网站对此不承担任何责任。<br>
    3.3 买家应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便本网站与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用本网站过程中产生任何损失或增加费用的，本网站不承担任何责任。 买家在使用网店平台过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由买家独自承担。<br>
    3.4买家必须设置较为复杂的账户密码并对您的账户和密码的安全，以及对通过您的账户和密码实施的行为负责。除非有法律规定或司法裁定，且征得本网站的同意，否则，账户和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。<br>
    3.5 建议定期修改密码，由于长期未能修改密码导致密码丢失或泄露，一切后果有买家自行承担；如果发现任何人不当使用您的账户或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知本网站，要求本网站暂停相关服务。您理解本网站对您的请求采取行动需要合理时间，本网站对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br>
    3.6 由于买家联网设备感染病毒仿造网购网站或联网设备丢失等，买家承担就所有利用其账户或密码进行活动的责任；<br>
    3.7 为方便您使用本网站服务，您同意并授权本网站将您在注册、使用本站过程中提供、形成的信息传递给向您提供其他服务的网店提供平台或其他组织，或从提供其他服务的网店服务平台或其他组织获取您在注册、使用其他服务期间提供、形成的信息。<br>
   

    <b>4.	购物规则</b><br>
    4.1 购物须知	<br>
    <span class="ml5">4.1.1 买家提交订单及支付后，均不可取消订单；</span><br>
    <span class="ml5">4.1.2 买家同意本网站向商家或其他供应商披露买家的信息，以便联系买家和执行交易；</span><br>
    <span class="ml5">4.1.3 本公司保留不接纳或取消买家订单的权利，包括但不限于以下因素：</span><br>
    <span class="ml10">4.1.3.1 任何商品信息出现明显错误；</span><br>
    <span class="ml10">4.1.3.2 商品库存量不足；</span><br>
    <span class="ml10">4.1.3.3 商品須要回收；</span><br>
    <span class="ml10">4.1.3.4 商家要求；</span><br>
    <span class="ml10">4.1.3.5 各种原因而导致未能安排配送；</span><br>
    <span class="ml10">4.1.3.6 不可抗力因素、系统问题或故障，导致未能安排完成订单。</span><br>
    4.2 价格及支付<br>
    <span class="ml5">4.2.1 本网站所展示之商品价格均为该商品日常售价 ；</span><br>
    <span class="ml5">4.2.2 如买家订购的商品价格有误差，本公司将有权安排取消订单而毋须向买家作出任何赔偿；</span><br>
    <span class="ml5">4.2.3 商品的价格将以人民币计算；</span><br>
    <span class="ml5">4.2.4 本公司将接受以各大银行借记卡或信用卡付款；</span><br>
    <span class="ml5">4.2.5 为保障买家的利益，信用卡必须有效并且以买家为持卡人，本公司不会就任何借用、误用或盗用信用卡行为承担任何责任。买家应赔偿本公司因买家自行疏忽而导致本公司的任何损失和费用；</span><br>
    <span class="ml5">4.2.6 如本公司未能成功收取款项或有合理理由怀疑买家的交易有可疑，本公司有权单方面取消买家之订单，而不作另行通知；</span><br>
    <span class="ml5">4.2.7 买家于进行信用卡交易时所招致的损失，本公司不会承担任买家可使用本公司所发出的特定购物券，当买家使用此类特定购物券时，即表示买家完全接受特定购物券上及本网站上所展示的条款及细则。</span><br>
    <span class="ml5">4.2.8 商品市场价格规则（根据市场状况 促销降价、涨价不确定性）、优惠政策具有时效性。</span><br>
    4.3 评语及意见<br>
    <span class="ml5">4.3.1 本公司保留删除及编辑买家提交之评语及内容的权利；</span><br>
    <span class="ml5">4.3.2 买家须在购买商品后才可评价该商品或商店；</span><br>
    <span class="ml5">4.3.3 买家之评语不应包含任何非法的、有害的、恐吓性的、辱骂性的、骚扰性的、民事侵权的、破坏名誉的、粗俗的、淫秽的、诽谤的、侵犯他人私隐的、仇恨性的、洩露机密的、或在道德上、种族上、性別上、性取向上等方面或其他方面会引起反感的内容；</span><br>
    <span class="ml5">4.3.4 如买家对商品或商店有任何疑问或意见，可与本公司的客户服务代表联系。</span><br><br>

    <b>5.	知识产权及隐私权政策</b><br>
    5.1 本网站内容受到知识产权法律法规的保障。如买家未经本网站许可擅自下载、复制、传送、刊印、储存或以其他形式使用有关信息的，买家即涉嫌侵犯上述法律法规；<br>
    5.2 买家须自行查明其行为会否造成上述侵犯知识产权的情况。本网站内提供的任何信息，包括但不限于文字、美术作品、图标、图像及商标，均受本公司或第三方（包括北京梵禹科技有限公司及其有关联之公司）拥有或管制的版权、商标或其他知识产权所保护；<br>
    5.3 本网站内知识产权所附有的全部权利、所有权和权益，在任何时间均属本公司或第三方（包括所有北京梵禹科技有限公司及其有关联之公司）拥有的财产。在未经本公司或该等第三方（包括所有北京梵禹科技有限公司及其有关联之公司）书面明确许可前，买家及网站访客一概不得使用该等知识产权；<br>
    5.4 本公司或与本公司有关联之公司所拥有的商标，在多个国家均拥有注册商标或正等候商标注册的申请。若买家擅自使用或复制有关商标，可能构成侵犯本公司的权利。<br>
    5.5 本网站尊重知识产权，反对一切可能侵犯他人知识产权之行为。如有知识产权权利人认为本网站平台内容（包括但不限于本网站平台会员发布的商品信息）可能涉嫌侵犯您合法权益的，可以向本网站提出书面通知，本网站将在收到该书面通知后及时处理。<br>
    5.6 买家在本网站进行注册、浏览、下单购物、评价、参加活动等行为时，涉及您真实姓名/名称、通信地址、联系电话、电子邮箱、订单详情、评价或反馈、投诉内容、cookies等信息的，本网站有权从完成交易、提供配送、售后及客户服务、开展活动、完成良好的客户体验等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密，除非得到您的授权、或为履行强行性法律义务（如机关指令）、或按照您的需求为您提高更良好的合作、本注册协议或其他条款另有约定外，本网站不会向外界披露您的隐私信息。
    <b><br />6.	 一般免责声明</b><br>
      6.1 本公司表示不会对下列事宜承担责任或作出陈述或保证：<br>
    <span class="ml5">6.1.1 本网站内容的质量、运作、使用、准确性或时效，或对任何目的之适合性或用途；</span><br>
    <span class="ml5">6.1.2 通过本网站或根据有关内容索取、提供或购买之任何商品或服务；</span><br>
    <span class="ml5">6.1.3 浏览本网站或有关内容时不受干扰，或有关内容不含任何电脑病毒或不具污染性或破坏性；</span><br>
    <span class="ml5">6.1.4 有关内容不会令买家或其他人士反感或厌恶；</span><br>
    <span class="ml5">6.1.5 有关内容含有或会引致错误、遗漏或失实之陈述；</span><br>
    <span class="ml5">6.1.6 本网站并不认可或推荐有关内容提及的任何人士、机构、名称、商品或服务，而有关内容亦不代表本网站的观点或意见。本公司不会参与买家与第三者就有关内容或透过本网站而进行的交易，但以书面另有说明者除外。而即使参与，亦仅限于所说明的程度。</span><br>
    <span class="ml5">6.1.7 本网站所提供的内容只作参考用途。对于本网站所载的任何内容的准确性及完整性，本公司一概拒绝承认任何隐含或明示的保证，并且不会就此作出任何陈述；</span><br>
    <span class="ml5">6.1.8 对于因使用或依赖本网站的内容或任何网站上载或与网站连结的任何信息或內容，包括但不限于任何错误、误差、遗漏、或侵权性质、诽谤性质或虚假性质的信息或任何其他可导致冒犯或在其他方面引致发生任何追索或投诉的内容或遗漏，而导致之任何损失或损害，本公司概不承担任何有关责任。</span><br><br>

    <b>7.	第三者网站</b><br>
    7.1 本网站或会包含第三者提供的内容或其他网站的连结；<br>
    7.2 本网站对于任何不受其直接控制的第三者内容或其他网站（无论是否与本网站连结）的运作或内容，一概不承担任何责任；<br>
    7.3 若其他网站未经本公司事先同意而装设与本网站的连结，本公司保留要求剔除有关连结的权利。<br><br>

    <b>8.	责任限制</b><br>
    8.1 无论是基于侵权、合约、法例或其他方面（包括但不限于疏忽、违约、诽谤或侵犯知识产权），本公司均不会就买家或任何其他人士因为有关内容或使用本网站而导致或招致买家须对任何其他人士承担的责任而向使用者或任何第三者承担任何直接损失或任何相应产生或间接的损失（包括但不限于收入或盈利的损失）；<br>
    8.2 本公司并不保证任何透过本网站传送的个人或其他内容或信息的保密性（并拒绝为此承担责任）。本公司的现行做法是采取合理的措施以维护保密性；<br>
    8.4 本网站负责按"现状"和"可得到"的状态向您提供网店平台服务。但本网站对网店平台服务不作任何明示或暗示的保证，包括但不限于网店平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，本网站也不对网店平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证。<br>
    8.5 除非法律法规明确要求，或出现以下情况，否则，本网站没有义务对所有用户的注册数据及有关的其它事项进行事先审查：<br>
    <span class="ml5">8.5.1 本网站有合理的理由认为特定会员及具体交易事项可能存在违法或违约情形。</span><br>
    <span class="ml5">8.5.2 本网站有合理的理由认为用户在网店平台的行为涉嫌违法或不当。</span><br><br>
   

    8.6 您了解并同意，本网站不对因下述任一情况而导致您的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿 (无论本网站是否已被告知该等损害赔偿的可能性) ：<br>
    <span class="ml5">8.6.1 使用或未能使用网店平台服务。</span><br>
    <span class="ml5">8.6.2 第三方未经批准的使用您的账户或更改您的数据。</span><br>
    <span class="ml5">8.6.3 通过网店平台服务购买或获取任何商品、样品、数据、信息或进行交易等行为或替代行为产生的费用及损失。</span><br>
    <span class="ml5">8.6.4 您对网店平台服务的误解。</span><br>
    <span class="ml5">8.6.5 任何非因本网站的原因而引起的与网店平台服务有关的其它损失。</span><br>
    <br>
    8.7 本网站有权在对商品价格进行合理调整时，因价格调整导致您的订单价格与调整之后的价格不符的，按如下情况处理：<br>
    <span class="ml5">8.7.1 库房已发货，将按调整之前的的价格收取商品费用；</span><br>
    <span class="ml5">8.7.2 库房未发货，本网站会通知您此订单失效，需要重新按照新的价格下单。</span><br><br>

    8.8 .不论在何种情况下，本网站均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。<br>
    本网站对于一切有关于酒豆、实物返现等享有最终解释权。<br>
    <b>9.	承诺与保证</b><br>
    9.1 基于本公司容许买家浏览有关内容及使用本网站，买家必须承诺：<br>
    <span class="ml5">9.1.1 不会进行或容许进行任何侵犯版权、商业秘密等知识产权的活动；</span><br>
    <span class="ml5">9.1.2 不会利用有关内容或本网站之使用权，作任何非法、不当或淫亵的用途；</span><br>
    <span class="ml5">9.1.3 不会利用本网站威胁、诽谤、辱骂、骚扰、或侵犯其他人士的权利；</span><br>
    <span class="ml5">9.1.4 不会阻碍或干扰本网站的运作；</span><br>
    <span class="ml5">9.1.5 采取一切措施，确保有关内容不会损害本网站系统；</span><br>
    <span class="ml5">9.1.6 确保买家向本公司提供的一切内容是真实及准确的；</span><br>
    <span class="ml5">9.1.7 容许本公司对有关内容的使用进行研究调查；</span><br>
    <span class="ml5"> 9.1.8 同意并遵守本网站的所有营运条款、购买、退货、积分等制度；</span><br>
    <span class="ml5">9.1.9 接纳本条款所载的一切免责声明及责任限制。</span><br><br>

    <b class="clear">10.	补偿</b><br>
    有关本网站的使用，买家同意就任何因违反本条款及细则或因疏忽而引致的一切损失、损害、申索、要求、责任、费用（包括法律费用）及开支，向本公司作出补偿并使本公司免受损失。<br><br>

    <b>11.	法律适用、管辖</b><br>
    11.1 本条款之效力、解释、变更、执行与争议解决均适用中华人民共和国法律，如无相关法律规定的，则应参照通用商业惯例和行业惯例。<br>
    11.2 因本协议产生之争议，应依照中华人民共和国法律予以处理，并以北京市石景山区人民法院为管辖法院。<br>
   <br>

    网站有权根据需要不时地制订、修改本协议及/或各类条款细则，并以网站公示的方式进行公告，不再单独通知您。变更后的条款和细则一经在网站公布后，立即自动生效。如您不同意相关变更，应当立即停止使用网店平台。您继续使用网店平台的，即表示您接受经修订的协议和规。如有任何争议，本公司保留最终决定权。<br>
</div>
