@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "私隐政策 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
<style type="text/css">
 ul,li{
    list-style-position: outside;
    list-style-type:disc;
 }
 ul{
    padding-left:5px;
    margin-left:15px;
 }
</style>
@section pageHeader {
<!-- 页头 -->
    <header class="pageHeader w100 pr tc overflowH">
        <a class="returnBtn" id="returnBtn"></a>
        <b class="f36 FontColor1">私隐政策声明</b>
    </header>
}
<!-- 页头 end -->
<div class="articleWrap  mt8 boxShadow bgColor3 f28 FontColor3">
    <h4 class="tc">《个人资料（私隐）条例》</h4>
    <b>总览</b><br>

    本私隐政策声明是北京梵禹科技有限公司（统称「本公司」）根据中华人民共和国《个人资料（私隐）条例》，就其责任及政策提供数据。<br>

    此私隐政策声明特别列出有关本公司于中华人民共和国法例下应负的责任，我们在存在业务的不同国家所实施我们的私隐政策时可能会有所调整以符合当地之法例要求。<br>

    此私隐政策声明内「个人资料」一词含有条例所解释的意义。<br><br>




    <b>本公司政策</b><br>

    本公司遵守条例的责任及要求，属下主管人员、管理层及员工必须时刻对本公司（或代表本公司）所收集及/或储存及/或传送及/或使用的所有个人资料保密，并妥善保存。<br>

    本公司确保所收集及/或储存及/或传送及/或使用的所有个人资料，必须遵照条例规定的责任及要求处理。<br>

    倘若个人以合法方式要求取得及/或修正本公司所持有关于其本人的个人资料，本公司可根据条例规定的时限及方式提供及/或修正上述数据。<br><br>

    <b>收集客户个人资料之运作声明 </b><br>

   本公司将就 (i) 到访本公司的网站及使用应用程序；(ii) 使货运活动，包括交付和领取货件 (iii) 查询及追踪货件运送详情 (iv) 用作我们的推广活动；及 (v)其他有关的商品或服务,客户可能被要求提供的个人资料，但不限于以下，如没有便不能让我们营运业务的数据：<br>

  (1)个人和公司的联系数据〈包括姓名、公司名称、实际地址、电邮地址、联络电话及传真号码等〉；<br>
   (2)使用速运服务的地址、通讯地址及/或寄发账单的地址；<br>
  (3)付款数据〈包括付款卡详情或用作网上付款之账户数据及其账单地址或相关账户数据如账户号码等〉；<br>
    (4)货运信息〈包括 (a) 托运方及收方的的姓名、实际地址、电邮地址及联络号码，(b) 作为交付证明的签署，(c) 使用本公司月结账户服务的账户号码，及 (d) 提供给我们以帮助我们进入需提供服务之地点的信息〉及就某托运物品内容有关而提供之资料，但只限于该信息能识别阁下个人身份与托运物品内容相关的信息；<br>
    (5)用以核对身份的数据，包括身份证明文件类别及号码；<br>
    (6)响应有关本公司服务满意度调查的内容；<br>
    (7)用作进入本公司之商品及服务的用户账号、账户密码及用作验证账户的数据；<br>
    (8)阁下移动设备之定位信息（只适用于阁下使用某些应用程序之指定服务）；<br>
    (9)使用本公司产品或服务而提供之其他个人资料。<br>

    此外，当阁下到访本公司的网站、使用本公司的应用程序或与我们相关的辅助工具、小软件和插件进行互动时，本公司的网页服务器可能会自动收集有关阁下使用互联网的数据，该使用是用作提供总汇的，匿名的统计数据藉以本公司更能满足我们网站使用者的要求及期望；并容许我们就任何可透过本公司服务器进入的任何网站内的非法或不合法的内容采取所须行动。此类数据报括（但不限于）浏览器设定、浏览器类型及版本、特有的设备标识符、操作系统、互联网规程（IP）地址及/或域名、语言偏好设定、设备特征、引用URL、与阁下进行之操作有关的信息以及活动的日期和时间等。
    「曲奇」指网站将自动收集并储存阁下到访本网站及/或应用程序所使用之计算机或其他互联网连接设备发送的，用以唯一识别阁下浏览器或在浏览器中保存信息或设置的文本文件。收集的数据可包括（但不限于）登入及确认数据，以及有关阁下在我们网站的活动和偏好设定。阁下可更改阁下浏览器的设定，在网页浏览器上删除「曲奇」。然而，更改后可能无法进入本公司网站的所有部分。<br>
    当阁下致电及接听本公司的服务热线及/或查询电话时会被录音，录音的目的包括质量管理、作员工表现评核、管理或发展及作培训用途等。相关录音数据将妥当保存，本公司会时常确保该录音数据不会在无意中及/或在未经授权的情况下被人取用。所有经阁下提供的个人资料，将会由本公司保留，并会为本私隐政策声明列明的目的或事先通知阁下的其他目的，供本公司的雇员及第三者（如适用）使用。<br><br>

     <b>个人资料的使用 </b><br>
     阁下之个人资料可能会被使用于：<br>
     <ul>
        <li>核实阁下的身份；</li>
        <li>提取、交付及追踪托运之物品；</li>
        <li>向阁下提供所需的产品及/或服务，包括（但不限于）物流服务、供应链管理、金融服务等；</li>
        <li>就阁下作出的要求、问题和意见作客户支持及/或响应及/或通讯；</li>
        <li>建立和管理阁下开设的账户；</li>
        <li>关于阁下参与的营销项目、推广计划、意见调查、抽奖活动和其他相关的优惠或促销活动而跟阁下通讯及管理；</li>
        <li>就阁下要求披露给其他人士；</li>
        <li>处理就阁下因使用本公司提供的产品及/或服务提出的索偿之请求；</li>
        <li>为提供产品及服务，于其他目的及而从其他来源（包括第三者）所收集的数据而与阁下的数据匹配（定义见《个人资料（私隐）条例》）；</li>
        <li>若根据条例规定下取得阁下的同意，本公司及关联公司、代理、承办商及第三方供货商的任何产品及/或服务之推广或宣传；</li>
        <li>本公司及关联公司、代理、承办商及第三方供货商的业务策划及向阁下所提供之产品及/或服务进行改善，而该等策划及改善可以不同方法进行，包括但不限于研究、分析及/或调查；</li>
        <li>就本公司向阁下提供的产品或服务作分析、核实、执行合同的权利及/或查核阁下的信用、付款及/或状况；</li>
        <li>使本公司能作出阁下在本公司的账户之日常运作及/或收取阁下账户未付的款项，包括聘用追收债务代理人；</li>
        <li>维护和开发本公司的业务系统和基础设施，包括测试及更新该等系统；</li>
        <li>通知阁下有关本公司已提供及其他产品和服务的最新信息；</li>
        <li>防止、侦查或调查犯罪活动；</li>
        <li>法例要求或准许之披露的事项；及/或</li>
        <li>阁下与本公司任何其他共同同意的其他用途。</li>
     </ul><br>

     <b>个人资料的准确性</b><br>
    本公司尽可能利用业内通用的做法及守则，核实所提供的数据，包括对账户号码或信用卡号码等一些数字项目检验和在若干情况下，本公司能藉着所持有的现有数据，鉴别所提供数据的真伪。根据条例的要求，本公司在某些情况下需要查核文件正本，才能使用身份证明文件（定义见《个人资料（私隐）条例》）及/或住址证明等个人资料。本公司已全面履行条例所规定的「查阅及改正数据的权利」责任。详情请参阅下文「查阅及改正个人资料」一节，以暸解如何取得及改正本公司所持有任何有关阁下的个人资料。请注意，本公司收集、使用及披露的个人资料的准确性很大程度上取决于阁下所提供的数据。阁下有权要求更改自己的个人资料，而且我们建议阁下的个人资料在有任何错误时通知本公司；及通知本公司有关阁下的姓名或地址等个人资料出现变更的最新情况。<br><br>

     <b>个人资料的保存</b><br>
     本公司将会根据内部政策，销毁所持有的个人资料。此政策指出，基本而言，本公司的政策包括以下宗旨：<br>
     (1) 个人资料会保存至达到与收集上述资料目的，或直接有关之目的为止；除非上述个人资料可根据任何适用法例或合约规定须予以保存；<br>
     (2)个人或公司的资料将以账户认证和密码登录或分配已获授权之访问权的方式加以保护。若有关数据以数码形式记载或保存之实际记录，凡属于不需重复使用或非当前之最更新作审计之用的个人资料，本公司于使用后会随即清除及销毁。<br><br>

     <b>个人资料的披露</b><br>
     本公司所持有的全部个人资料将予以保密，然而本公司可在有需要披露此等数据以达到收集此等数据之目的，或直接与其有关之目的时，向下述人士披露资料：<br>
     (1)任何附属公司、控股公司、关联公司，或由本公司所持有或与本公司同属一家控制公司的公司或联营公司；<br>
     (2)任何代表本公司或与本公司联营的个人或公司，以达到提供此等数据之目的，或直接与其有关之目的；<br>
     (3)有责任为本公司对上述资料保密的任何其他人士或公司，而该人士或公司有法定的权利取用该资料；<br>
     (4)本公司的经销商、代理、承办商、供货商；本公司的专业顾问，包括会计师、审计师及律师；<br>
     (5)由法律规定或授权的政府和监管机构、执法机构和其他组织；<br>
     (6)任何所需的金融机构、收费或信用卡公司、信贷提供者、信贷资料或调查机构，或代收欠款的代理人、证券代理，以便设立和支持任何所需求服务的支付；<br>
     (7)在阁下要求下之授权代表或法律顾问；<br>
     (8)有关本公司全部或部分运营业务的任何潜在或实际参与者、承让人或受让方。<br>
     个人资料也可根据任何法定或合约责任或法院规定向任何人披露，但他们须证明其取用资料的权利/权能。此外，个人资料可能在条例第VIII部分所列明的情况下被披露，其中有关个人资料获豁免而不受保障资料原则第3条所管限的。<br><br>

     <b>将个人资料转移至中华人民共和国以外地方</b><br>
    本公司在有需要时会将若干个人资料转移至中华人民共和国大陆地区以外的地方以达到收集此等数据之目的，或直接与其有关之目的。该转移会遵守条例现行之规定。<br><br>


     <b>个人资料的保安</b><br>
     载列个人资料的实际记录，在不使用时妥善存放在上锁的储存器内。<br>
     所有实际电子数据均存放于上锁之文件柜。而存放计算机数据之计算机系统则设于有进出限制之计算机机房内。有关之储存媒体亦会设于上锁之文件柜及/或有进出限制之计算机机房内。<br>
     凡未经管理层正式授权的人士，不得取用记录及数据。有关权利只在「必须知道」的情况下授予，并根据个别人士在公司的职责及受训情况而定。<br>
     于本公司储存、使用和/或传送阁下之客户个人资料的情况下，必定有足够的保护措施防止未经准许和/或意外的披露、更改和/或破坏。<br><br>

     <b>链接第三者网站</b><br>
    本公司网站或包含可通往由第三者营运的其他地址及页面的链接。本公司无法控制该等被链接网站的内容或该等网站营运商处理阁下个人资料的方式。阁下应审阅该第三者网站上的私隐政策，以暸解该等第三者可能使用阁下个人资料的方式。<br><br>

     <b>查阅及改正个人资料</b><br>
     根据条例规定，个人可有权：<br>
     (1)确定本公司是否持有关于其本人的个人资料，并（如有者）取得该等资料的副本（「查阅的权利」）；<br>
     要求本公司改正关于其本人而不准确的个人资料以达致使用该数据之目的（「改正的权利」）；<br>
     (3)确定本公司有关其本人个人资料的政策及做法，总体上符合本政策及做法的规定。<br><br>

     <b>个人可按下列方式行使其查阅的权利：</b><br>
     (1)填妥由中华人民共和国个人资料（私隐）专员提供的「查阅数据要求表格或「个人资料（私隐）条例 - 查阅数据要求表格」；<br>
     (2)将填妥的表格连同有关的身份证明文件（申请人的中华人民共和国身份证）及指定费用，按下列地址致函信息科技部；<br>
     (3)或者，若阁下不想提供身份证明文件，则必须将填妥的表格亲身交予本公司，递交表格时需同时出示有关的身份证明文件。<br>
     本公司于接纳有关取用要求的真确性及有效性后，会尽力依从该要求，并在条例规定的期限内予以回复（在本公司收到查阅资料要求后的40日内）。个人可行使改正的权利按下列地址致函信息科技部，透过上述查阅个人资料要求所得的数据，指出需要改正的资料。<br>
     在本公司考虑是否更改该指定资料前，申请人须提供能指出资料不准确的足够证明及/或解释。本公司在接纳要求改正的真确性及有效性后，会尽力依从条例所要求就要求改正予以回复。<br><br>

     <b>直接促销</b><br>
     根据条例规定，本公司会依从阁下的要求，不会将其个人资料作为直接促销之用。若阁下同意，本公司可使用阁下的个人资料（包括姓名、联络数据及有关阁下已选购或申请的产品和服务数据），以电邮地址、通讯地址、手机号码、电话号码、服务号码和服务账户号码等透过不同联络方式，向阁下传递不同的推广数据，包括本公司的产品和服务、计算机周边产品、配件和流动应用程序、个人助理服务和信息服务的最新情报、礼品、折扣、优惠及信息。本公司亦可能向客户提供各种产品或服务的最新情报。为释除疑问，该同意可以在任何时候根据此私隐政策声明撤回而不受服务合约时限所规管。若该同意未经撤回，在合约结束后仍然有效。倘若阁下希望停止或（若阁下已取消接收）重新接收本公司的信息，阁下可随时通知信息科技部您的联络方法。所有此等要求，应明确列出有关要求的个人资料详情。<br><br>

     <span class="FontColor6">信息科技部</span><br>
     北京梵禹科技有限公司<br>
</div>