@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "会员计划条款及细则 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
@section pageHeader {
<!-- 页头 -->
<header class="pageHeader w100 pr tc overflowH">
    <a class="returnBtn" id="returnBtn"></a>
    <b class="f36 FontColor1">会员计划条款及细则</b>
</header>
    <!-- 页头 end -->
}
<div class="articleWrap  mt8 boxShadow bgColor3 f28 FontColor3">
    买家在登记成为北京梵禹科技有限公司（以下简称为「本公司」）的电子商务平台－爱玖网（以下简称为「本网站」)的会员计划之会员前，请先细阅以下条款及细则。所有买家均须同意及受到以下条款及细则约束，并同意向本公司提供个人资料（「个人资料」之定义根据中华人民共和国《个人资料（私隐）条例》弥定）。本公司确保在收集、使用、保留、转移及查阅个人资料方面的政策及常规，均符合中华人民共和国《个人资料（私隐）条例》的规定。本公司同样承诺确保本公司所有雇员及代理坚守这些责任。本条款及细则如下：<br>

    1.此计划只适用于中华人民共和国。<br>
    2.如本公司有合理理由怀疑买家提供任何不真实、不准确、不完整或不能反映当前情况的资料，本公司有权暂停或终止买家的注册身份及资料，而不作另行通知。<br>
    3.若任何中国内地的买家在登记或使用本计划的过程中违反任何中国国家法律法规，本公司有权终止及／或取消买家的注册身份及信息。<br>
    4.买家可于本网站购买商品获取积分。<br>
    5.本网站会不时更新买家的积分结余。<br>
    6.本公司有权对会员计划内所提供的折扣优惠计划作出调整，而不作另行通知。买家应不时到本网站查阅最新条款及／或公布。<br>
    7.为加强本公司会员计划系统功能及效率，本公司有可能于任何时间进行系统更新、测试、维修及关闭系统，而不作另行通知。<br>
    统更新、测试、维修及关闭系统，而不作另行通知。<br>
    8.会员计划所收集的个人资料只用作本公司之营运及推广用途。<br>
    9.如有任何争议，本公司保留最终决定权。如双方未能解决争议，本条款的执行和解释及争议的解决均适用中华人民共和国大陆地区法律予以规管及解释，双方谨此同意遵守中华人民共和国大陆地区法院的非专属司法管辖权。<br>
    10.倘本条款中任何条款受禁或无法强制执行，该等条款应予以分离，有关限制或无法强制执行事项不会导致本条款的其余条款无效或不影响本条款之有效性或可强制执行性。<br>
    11.根据个人资料（私隐）条例规定，本公司有权就处理任何资料查阅要求收取合理费用。<br>
    12.本条款不会限制买家在个人资料（私隐）条例下所享有的权利。<br>
    13.本公司保留更改此计划的条款及细则权利，而无须作出另行通知。本公司会于网站内公布最新的条款并于公布后视为已送达。<br>

</div>