@using SFO2O.M.Controllers
@using SFO2O.M.Controllers.Common
@using SFO2O.M.ViewModel.Account
@using SFO2O.M.ViewModel.Product
@using SFO2O.Utility.Extensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowFastShoppingCart = false;
    this.ViewBag.Title = "中国境内退货条款及细则 ";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.ShowFooter = false;
}
@section styles {
}
@section scripts {
}
@section pageHeader {
	<!-- 页头 -->
<header class="pageHeader w100 pr tc overflowH">
    <a class="returnBtn" id="returnBtn"></a>
    <b class="f36 FontColor1">中国境内退货条款及细则</b>
</header>
    <!-- 页头 end -->
}
<div class="articleWrap  mt8 boxShadow bgColor3 f28 FontColor3">
    本使用条款及细则适用于买家在浏览及使用北京梵禹科技有限公司（以下简称为「本公司」）的电子商务平台－爱玖网（以下简称为「本网站」)，请于使用本网站前仔细阅读本条款及细则。买家使用本网站，即表示买家接受并同意受本条款及细则所约束。<br>

    <b>1.  取消订单</b><br>
    1.1 买家提交订单及支付后，均不可取消订单；<br>
    1.2 买家可于商品送达后申请商品退货，所有退货申请必须符合本条款内的商品退货条件。<br><br>

    <b>2. 商品退货次数</b><br>
    2.1 只限于本公司认为符合退货条件之商品，每一商品仅可办理退货一次。<br><br>

    <b>3. 接纳商品退货之条件，包括但不限于：</b><br>
    3.1 经本网站购买的商品；<br>
    3.2 于7天有效商品退换期（由商品送达后起计7天内，包括周六、日及公休假）内提出的申请；<br>
    3.3 商品外包装有损坏引致商品故障或破损；<br>
    3.4 商品有瑕疵（如污迹、食品过期或不能正常运作等）或非人为因素造成之故障或破损；或<br>
    3.5 送抵之商品与订购之商品不同。<br><br>

    <b>4. 不接纳商品退货之条件，包括但不限于：</b><br>
    4.1 任何非本网站出售的商品；<br>
    4.2 商品于本网站描述中注明不可退换；<br>
    4.3 于7天有效商品退货期后提出的申请（由商品送达后起计7天后，包括周六、日及公休假）；<br>
    4.4 商品并非全新状态，或因人为因素导致的损毁、商品无法回复原状、缺乏完整性及失去二次销售价值（如已穿着、使用、洗涤、受潮、湿损、自行剪裁修改、改装、污损、破损、凹陷、变形、功能不全、失灵等）；<br>
    4.5 礼品包或套装中的商品部分退换；<br>
    4.6 所有食品类；<br>
    4.7 贴身或卫生商品（适用于母婴产品类、宠物生活类、衣物服饰类、个人及家居护理类及运动用品类）；<br>
    4.8 包装已被拆封的商品（适用于母婴产品类、宠物生活类、衣物服饰类、游戏电玩类、个人及家居护理类、运动用品类、电子及电器产品类）；<br>
    4.9 买家个人喜好问题；<br>
    4.10 非商品品质问题而提出的申请；<br>
    4.11 商品上的标签、条码或吊牌不完整、被破坏或被折曲；<br>
    4.12 赠品（赠品于任何情况下均不获退换）；<br>
    4.13 配件附属品瑕疵；<br>
    4.14 特卖商品；<br>
    4.15 商品所属商店另有列明退换安排；<br>
    4.16 外包装及商品无损坏；或<br>
    4.17 其他本公司认为不合理的退换货申请。<br><br>

    <b>5. 申请商品退货流程</b><br>
    5.1 如买家申请商品退货，必须先确定该商品属于可退货类型及符合商品退货条件，并于商品送达后起计7天内（包括星期六、日及公众假期）登入本网站提出退货申请；<br>
    5.2 为方便本公司进行买家退货申请的审核，买家必须按要求将该商品照片连同退货理由一并附上。<br><br>

    <b>6. 退货申请审核</b><br>
    6.1 本公司收到买家的退货申请后，会于3个工作天内审核买家的退货申请，买家可登入账号查询有关审核结果；<br>
    6.2 如买家的退货申请不获接纳，买家可登入账号查询不予办理退货之原因。<br><br>

    <b>7. 办理商品退货</b><br>
    7.1 如买家的商品退货申请获本公司接纳，本公司会于3个工作天内安排收派员上门取回需退货的商品；<br>
    7.2 收派员上门取回需退货的商品时，买家须提交以下文件及物品：<br>
    <span class="ml5">7.2.1 接纳退货申请之通知列印本；</span><br>
    <span class="ml5">7.2.2 有关交易的完整订单列印本；及</span><br>
    <span class="ml5">7.2.3 需退货商品（必须连同商品的完整包装）</span><br>
    7.3 以上的文件及物品如有遗漏，买家的退货申请将不获办理；<br>
    7.4 本公司安排的收派员会现场验收及核实退货商品。如买家提交的商品与接纳退货申请之通知内容不一致，买家的退货申请将不获办理；<br>
    7.5 本公司确认收回退货商品后将安排退款；<br>
    7.6 如买家未能于指定时间内将商品退回，买家的退货申请将被视作放弃。<br>
    7.7 买家成功申请退货后，购买该商品所获得的积分将全数或按比例被扣除，而不作另行通知；<br>
    7.8 所有未经授权的退货申请，本公司一律概不处理；<br>
    7.9 退货商品确认安排退回本公司仓库后，买家不得向本公司取回该商品。<br><br>

    本公司有权修改或更新本条款及本网站的任何内容，包括本公司所提供的所有商品与服务，而毋须另行通知。买家应不时参阅本网站之条款，买家继续使用本网站即表示同意接受经修订的使用条款。如有任何争议，本公司保留最终决定权。<br>

    
    <p class="tr">更新日期：2017年5月24日</p>

</div>