@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    this.ViewBag.Title = "拼生活频道";
    ViewBag.ShowFooter = true;
    int i = 1;
}
@section styles {
    <!--页面独有样式-->
    <link href="../Content/css/groupon/grouponList.css?v=201512150001" rel="stylesheet">
    <!--页面独有样式 END-->
}
@section scripts {
    <script type="text/javascript" src="../Scripts/jquery/jquery.dialog.js?v=201512160001" charset="utf-8"></script>
    <!--页面独有脚本-->
    <script type="text/javascript" src="../Scripts/groupon/grouponList.js?v=20160419"></script>
    <!--页面独有脚本 END-->
}
@section pageHeader {
    <!-- 页头 -->
    <header class="pageHeader w100 pr tc">
        <a class="returnBtn" id="returnBtn"></a>
        <b class="f36 FontColor1">拼生活</b>
        <a class="flowerMenu" onclick="FSH.menuDialog()"></a>
    </header>
}
@{<div class="MContainer" id="MContainer">

        <!-- 没有活动 -->
        <!-- <div class="noData">
            <img src="../../Content/Images/null.png?v=20160111" title="" alt="" />
            <p class="mainTips">暂无进行中的拼生活活动</p>
            <p class="secTips">先去看看其他的商品吧</p>
        </div>
        <div class="btnBox mt20">
            <a href="" class="btn default">回首页</a>
        </div> -->
        <!-- 没有活动end -->
        <ul class="grouponList" id="grouponList">
            <!--<li class="w95p boxShadow bgColor3">
            </li>-->
        </ul>
        <div id="loadMore" class="loadMore"></div>
    </div>
}
