@using SFO2O.M.Controllers
@using SFO2O.M.ViewModel.Account
@using SFO2O.Utility.Uitl
@model SFO2O.Model.Product.ListProductInfoModel
@{
    this.ViewBag.IsSelfTitle = true;
    this.ViewBag.Title = "爱玖网 - 商品列表";
    LoginUserModel user = ViewBag.LoginUser ?? null;
    ViewBag.isShowGoBak = false;
    ViewBag.ShowFastShoppingCart = false;
    string startTime = System.Web.Configuration.WebConfigurationManager.AppSettings["PinStartTime"].ToString();
    string endTime = System.Web.Configuration.WebConfigurationManager.AppSettings["PinEndTime"].ToString();
    string ImgVersion = ConfigHelper.ImgVersion;
    string CssVersion = ConfigHelper.CssVersion;
    string JsVersion = ConfigHelper.JsVersion;
}

@section styles {
 <!--页面独有样式-->
<link href="/content/css/producList.css" type="text/css" rel="stylesheet" />
<link href="/content/css/search.css" rel="stylesheet" />
<!--页面独有样式 END-->
}
@section scripts {
    <!--页面独有脚本-->
<script type="text/javascript" src="./Scripts/jquery/fly/jquery.fly.min.js"></script>
<script src="./Scripts/jquery/jquery.lazyload.js"></script>
<script src="./Scripts/productList2.js"></script>
@*<script src="./Scripts/jsrender-v1.0.0-beta.js"></script>*@
<script src="./Scripts/selectSKU.js"></script>
    <!--页面独有脚本 END-->
}
<header class="pageHeader w100 pr tc overflowH">
    <a class="returnBtn" id="returnBtn"></a>
    <b class="f36 FontColor1">商品列表</b>
    <div class="headerCart cartPos" id="headerCart">
        <a href="/shoppingcart"> <span id="cartNum" class="hide">0</span></a>
    </div>
</header> 
<div class="screenBox whiteOnLine mb8" id="sortType">
 
</div>
<!-- 筛选 end -->
<!-- 商品列表 -->
<div class="list productList" id="productList">
    <div class="w100 clearfix">

        @foreach (var item in Model.ProductInfoModel)
        {
                    <div class="item pr">
            <a href="/item.html?productCode=@item.SPU">
                <div class="imgBox">
                    <img class="lazyloadImg" src="@item.ImagePath" style="display: block;" />
                </div>
                <div class="title">
                    @item.Name
                </div>
                <div class="price">
                 <span class="f36">￥@item.MinPrice</span>
                    @if(user!=null&&user.SourceType==10)
                    {
                     @*<font style="font-size: 0.9rem; color: #98CA35; ">&nbsp;&nbsp;&nbsp;赠豆</font><span class="original">@item.DHuoli</span>*@
                    }
                </div> <span class="freeSign"></span>
            </a>
            <span class="addCart" onclick="FSH.addToCart('@item.Sku', this)"></span>
        </div>

        }
    </div>
    <div id="loadMore" class="loadMore">
        全部加载完
    </div>
</div>
