
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>重置密码 - 村村通</title>
    <link href="/Content/CSS/common.css" rel="stylesheet" />
    <link href="/Content/CSS/supplier.css" rel="stylesheet" />
    <script src="/Content/Js/jquery-1.8.3.js"></script>
    <script src="/Scripts/Common.js"></script>
</head>

<body>
    <div class="header_wrap">
        <div class="header w1200 t_c"><a href="#"><img src="/Content/Images/logo_big.png" class="logo" /></a> </div>
    </div>
    <div class="t_c f15" style="width:928px; margin:0 auto;">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "findPWD", @class = "name_zhangh pd_t40 mg_t20" }))
        {
            @Html.Hidden("token")
            <ul class="login_wrap" style="padding-left:180px;">
                <li class="clearfix">
                    <span class="w135">請輸入新密碼</span>
                    <input id="password1" name="password1" type="password" value="" />
                    <p id="password1wrong" class="login_wrong ftfml_sun" style="display:block; padding-left:152px;">@ViewBag.password1Wrong</p>
                </li>
                <li class="clearfix">
                    <span class="w135">再次輸入新密碼</span>
                    <input id="password2" name="password2" type="password" value="" />
                    <p id="password2wrong" class="login_wrong ftfml_sun" style="display:block; padding-left:152px;">@ViewBag.password2Wrong</p>
                </li>
            </ul>
            <p class="t_c">
                <button class="btn_g" type="submit">重 置</button>
            </p>
        }
    </div>
    <script type="text/javascript">
        $("#findPWD").submit(function () {
            var flag = true;
            if ($("#password1").val() == "") {
                $("#password1wrong").text("請輸入新密碼");
                flag = false;
            }
            else {
                var password = $("#password1").val();
                if (password.length < 6 || password.length > 50 || sfo2o.GetPassLevel(password) < 2) {
                    $("#password1wrong").text("請輸入6-32位數字、字母、符號兩種以上組合");
                    flag = false;
                }
                else {
                    $("#password1wrong").text("");
                }
            }
            
            if ($("#password2").val() == "") {
                $("#password2wrong").text("請再次輸入新密碼");
                flag = false;
            }
            else if ($("#password1").val() != $("#password2").val()) {
                $("#password2wrong").text("密碼不一致，請重新輸入");
                flag = false;
            }
            else {
                $("#password2wrong").text("");
            }
            return flag;
        });
    </script>
</body>
</html>
