@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>忘记密码 - 村村通</title>
    <link href="/Content/CSS/common.css" rel="stylesheet" />
    <link href="/Content/CSS/supplier.css" rel="stylesheet" />
    <script src="/Content/Js/jquery-1.8.3.js"></script>
    @Html.Script("/Scripts/Dialog.js")
</head>

<body>
    <div class="header_wrap">
        <div class="header w1200 t_c"><a href="#"><img src="/Content/Images/logo_big.png" class="logo" /></a> </div>
    </div>

    <div class="t_c f15" style="width:928px; margin:0 auto;">
        <div class="bor_bg mg_t30 pd_r40 lineH22 pd_t10 pd_b10" style="display:table; letter-spacing:2px;">
            <p class="w210 t_r">密码重置提示：</p><p class="t_l" style="display:table-cell; padding-right:45px;">本流程仅限于商家管理<span class="color_green">主账号的密码重置</span>。<span class="col_999">由商家管理主账号创建的其他后台用户，请联络主账号管理员仅限密码重置。</span></p>
        </div>
        <div class="clearfix t_c mg_l50 mg_t20">
            <div class="step firststep">
                <div class="detail current">
                    <div class="step_part">
                        验证公司名称&登录账号<br />
                        <span>1</span>
                    </div>
                </div>
            </div>
            <div class="step">
                <div class="detail detail_off">
                    <div class="step_part">
                        登录邮箱查收密码重置邮件<br />
                        <span>2</span>
                    </div>
                </div>
            </div>
            <div class="step">
                <div class="detail detail_off">
                    <div class="step_part">
                        登录邮箱查收密码重置邮件<br />
                        <span>3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="name_zhangh pd_t40 mg_t20">
            <ul class="login_wrap">
                <li class="clearfix">
                    <span>公司名称</span>
                    <input id="SupplierName" type="text" name="SupplierName" value="" placeholder="请使用繁体中文" />
                    <p id="SupplierNameWrong" class="login_wrong ftfml_sun" style="display:block;">@ViewBag.SupplierNameWrong</p>
                </li>
                <li class="clearfix">
                    <span>登录账号</span>
                    <input id="UserName" type="text" name="UserName" value="" />
                    <p id="UserNameWrong" class="login_wrong ftfml_sun" style="display:block;">@ViewBag.UserNameWrong</p>
                </li>
            </ul>
            <p class="t_c"><button class="btn_g" type="button">验 证</button></p>
        </div>
    </div>
    <script type="text/javascript">
        $(".btn_g").click(function () {
            var SupplierName = $("#SupplierName").val();
            var UserName = $("#UserName").val();
            if (SupplierName == "") {
                $("#SupplierNameWrong").text("请输入公司名称");
                return false;
            }
            else {
                $("#SupplierNameWrong").text("");
            }
            if (UserName == "") {
                $("#UserNameWrong").text("请输入登录账号");
                return false;
            }
            else {
                $("#UserNameWrong").text("");
            }
            $.ajax({
                url: "ForgetPassword",
                type: "post",
                data: { SupplierName: SupplierName, UserName: UserName },
                success: function (res) {
                    if (!res.Error) {
                        $.dialog({
                            title: "验证成功",
                            content: '<p class="t_c pd_t40 pd_b30"><span>公司名称与登录账号验证通过<br /><br />请登入' + UserName + '，查收密码重置邮件。</span><br /><br /></p>',
                        });
                    }
                    else {
                        if (res.ClearInput) {
                            $("#SupplierName").val("");
                            $("#UserName").val("");
                        }
                        if (res.SupplierNameWrong) {
                            $("#SupplierNameWrong").text(res.SupplierNameWrong);
                            if (res.UserNameWrong) {
                                $("#UserNameWrong").text(res.UserNameWrong);
                            }
                        }
                        else if (res.UserNameWrong) {
                            $("#UserNameWrong").text(res.UserNameWrong);
                        }
                        else if (res.Message) {
                            $.dialog(res.Message);
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>
