.brandInf{ width:70%;border:1px solid #fff; padding:2px;left:50%; margin-left:-35%; top:50%;}
.brandInfCon{ background:rgba(255,255,255,0.9); padding:8px 10%;width:80%;}
.brandInfCon h3{ color:#000;}
.brandInfCon p{ padding-top:8px; margin-top: 8px; border-top:1px solid #333333;}
