<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="no">
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<title>丰生活购物商城-商品详情</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../Content/css/base.css?v=201512150001" rel="stylesheet">
<!--页面独有样式-->
<link href="../Content/css/item.css?v=201512150001" rel="stylesheet">
<!--页面独有样式 END-->
</head>
<body>
<div class="MContainer" id="MContainer">
	<!-- 页头 -->
	<header class="pageHeader w100 pr tc overflowH">
      <a class="returnBtn" id="returnBtn"></a>
      <b class="f36 FontColor1">商品详情页</b>
      <!--20160510 修改内容 客服链接视图页面上有-->
			<a class="gotoKF" href="sf-ocs.sf-express.com:8080/live800/chatClient/chatbox.jsp?companyID=8935&configID=48&skillId=43&enterurl=hko2o" target="_blank"></a>
			<!--20160510 修改内容 end -->
  </header>
  <!-- 页头 end -->
  <!--商品下架-->
  <div class=" sf-pop payStatusWrap tc hide">
		<img src="../Content/images/proError.png?v=201601181111" style="width:50%; min-width:133px;">
		<p class="content title">商品卖的太火爆，被外星人抢空了</p>
		<p class="conent tip" style="color:#bcbcbc">去看看其他商品吧</p>
		<p class="btn-box">
			<a class="closeBtn m-btn" href="/" target="_self">返回首页</a>
		</p>
	</div>
  <!--商品下架 END-->
  <!--第一部分-->
	<div class="itemCon w100 boxShadow bgColor3 pt8 mb8">
		<!--轮播图-->
		<div class=" banner pr  mc clearfix hide" id="mySwipe" style="background:#F00">
		    <div class="bannerIndex clearfix hd" id="mySwipeLiItems">
		        <ul>
		           
		        </ul>
		    </div>
		    <div class="swipe focusBox f0 bd">
	            <ul class="swipe-wrap focusBoxIn">
	                <li><a target="_self"><img src="../Content/Images/index/banner1.jpg?v=20151215" /></a></li>
	            </ul>
	            <ul class="swipe-wrap focusBoxIn">
	                <li><a target="_self"><img src="../Content/Images/index/banner1.jpg?v=20151215" /></a></li>
	            </ul>
	            <ul class="swipe-wrap focusBoxIn">
	                <li><a target="_self"><img src="../Content/Images/index/banner1.jpg?v=20151215" /></a></li>
	            </ul>
		    </div>
		</div>
		<!--轮播图 END-->
		<!--20160803新增-->
		<div class="w95p priceDiv_holiday mt8"><span class="f30">￥290.00</span><span class="originalPrice f20">￥390.00</span><span class="fr f28 numberTip">每次限购2件</span></div>
		<!--20160803新增End-->
		<p class="w95p brandArea mt15 f24 FontColor3">阿拉伯联合酋长国 0711</p>
		<p class="w95p itemProName f28 mt8 mb8">商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称商品名称</p>
		<!--商家承担关税-->
		<p class="w95p f20 FontColor3 mb15">关税：卖家承担</p>
		<!--商家承担关税 END-->
		<!--关税<50-->
		<!--
		<p class="w95p f20 FontColor3 mb15">关税：<span class="lineThrough">￥29.00</span><span class="FontColor4">（若订单总税额≤50元则免征）</span></p>
		-->
		<!--关税<50 end-->
		<!-- 关税正常显示 -->
		<!--
		<p class="w95p f20 FontColor3 mb15">关税：￥80.00</p>
		-->
		<!-- 关税正常显示 end -->
		<ul class="w95p itemFeature f24 FontColor3 overflowH ">
      <li><span class="itemIcon_r"></span>香港直发</li>
      <li><span class="itemIcon_r"></span>顺丰包邮</li>
      <li><span class="itemIcon_r"></span>正品保证</li>
  </ul>
	</div>
	<!--第一部分 END-->
	<!--尺码/颜色-->
	<p class="itemCon w95p mb8 boxShadow bgColor3 f28 pt17 pb17" id="skuSelectA" data-init='选择：尺码/颜色' data-json='{"Id":0,"ProductName":"雪花秀套装滋盈肌本 平衡乳125ml","ImgUrl":"http://i1demo.sfo2o.com/LIB/2016/04/21/18/IMG/SJ/dx336jgtex6g/xvjiaqa5dv9i_180.png","InitPrice":"269.09","MainName":"","MainCode":"","SubName":"","SubCode":"","TaxAmount":161.45,"SubAttributes":[],"MainAttributes":[{"MetaCode":"","Id":"","Name":"","Flag":1,"SubAttributes":[],"Sku":"20160421906887","ForOrder":295,"Price":269.09,"OriginalPrice":269.09,"Promotion":null,"TaxAmount":161.45,"NetWeightUnit":"","IsDutyOnSeller":0,"RealTaxType":2}],"IsDutyOnSeller":0,"RealTaxType":2}'>选择：尺码/颜色<i class="itemIcon_jt"></i></p>
	<!--尺码/颜色 END-->
	<!--20160803新增-->
	<div class="itemCon w100 mb8 boxShadow bgColor3 f28">
		<div class="w95p pt17 pb17 whiteOnLine borderBottom boxFlexWrap"><b class="fbNormal">净重：</b><p class="boxFlex">1.5千克</p></div>
		<div class="w95p pt17 pb17 whiteOnLine borderBottom boxFlexWrap"><b class="fbNormal">规格：</b><p class="boxFlex">1盒4块</p></div>
		<div class="w95p pt17 pb17  boxFlexWrap"><b class="fbNormal">口味：</b><p class="boxFlex">香蕉味、橘子味、苹果味、香蕉味、橘子味、苹果味、</p></div>
	</div>
	<!--20160803新增End-->
	<!--跳转区域-->
	<div class="itemCon w100 mb8 boxShadow bgColor3 f28">
		<p class="w95p pt17 pb17 whiteOnLine borderBottom"><a href="param.html" target="_self" class="show w100">产品参数<i class="itemIcon_jt"></i></a></p>
		<p class="w95p pt17 pb17 whiteOnLine borderBottom"><a href="commodityDetails.html" target="_self" class="show w100">商品详情<i class="itemIcon_jt"></i></a></p>
		<p class="w95p pt17 pb17"><a href="evaluate.html" target="_self" class="show w100">累计评价<span class="FontColor4">（145条）</span><i class="itemIcon_jt"></i></a></p>
	</div>
	<!--跳转区域 END-->
	<!--进入店铺-->
	<p class="itemCon w95p mb8 boxShadow bgColor3 f28 pt17 pb17"><a href="#" target="_self" class="show w100">进入商家店铺<i class="itemIcon_jt"></i></a></p>
	<!--进入店铺 END-->
	<!--同店推荐-->
	<div class="itemCon w95p boxShadow bgColor3 overflowH">
		<p class="itemTitle f28 mt10 mb10">同店推荐</p>
		<div class="w100 clearfix list productList" id="productList">
			<div class="item pr">
				<a href="">
					<span class="freeSign">免<br>邮</span>
					<div class="imgBox"><img src="../Content/Images/index/product1.jpg?v=20151215"></div>
					<div class="title">Greenday 西蘭花西蘭花西蘭花西蘭花</div>
					<div class="price">￥45</div>
				</a>
				<span class="addCart"></span>
			</div>
			<div class="item pr">
				<a href="">
					<span class="freeSign">免<br>邮</span>
					<div class="imgBox"><img src="../Content/Images/index/product1.jpg?v=20151215"></div>
					<div class="title">Greenday 西蘭花西蘭花西蘭花西蘭花</div>
					<div class="price">￥45</div>
				</a>
				<span class="addCart"></span>
			</div>
			<div class="item pr">
				<a href="">
					<span class="freeSign">免<br>邮</span>
					<div class="imgBox"><img src="../Content/Images/index/product1.jpg?v=20151215"></div>
					<div class="title">Greenday 西蘭花西蘭花西蘭花西蘭花</div>
					<div class="price">￥45</div>
				</a>
				<span class="addCart"></span>
			</div>
			<div class="item pr">
				<a href="">
					<span class="freeSign">免<br>邮</span>
					<div class="imgBox"><img src="../Content/Images/index/product1.jpg?v=20151215"></div>
					<div class="title">Greenday 西蘭花西蘭花西蘭花西蘭花</div>
					<div class="price">￥45</div>
					<div class="saleOut">已售罄</div>
				</a>
			</div>
		</div>
	</div>
	<!--同店推荐 END-->
  <!--页脚-->
	<p class="loginArea f24 FontColor3 mb20 mt20 w95p">
		<!--未登录状态显示-->
		<a class="f24 FontColor3 mr10 ml5" href="#" target="_self">登录</a>|
		<a class="f24 FontColor3 ml10" href="#" target="_self">注册</a>
		<!--未登录状态显示 END-->
		<!--已登录状态显示-->
		<!--<a class="f24 FontColor3">退出</a>-->
		<!--已登录状态显示 END-->
		<a href="javascript:FSH.goTop()" class="fr f24 FontColor3 mr5">回到顶部</a>
	</p>
	<footer class="w95p pb10 tc grayOnLine">	
		<p class="links FontColor3 f24 mt20 mb10">
			<a class="f24 FontColor3 mr10" href="#" target="_self">常见问题</a>|
			<a class="f24 FontColor3  ml10 mr10" href="#" target="_self">关于我们</a>|
			<a class="f24 FontColor3 mr10 ml10" href="#" target="_self">配送及售后服务</a>|
			<a class="f24 FontColor3 ml10" href="#" target="_self">条款</a>
		</p>
		<p class="copyright f18 FontColor4">2015© 丰生活电子商贸有限公司版权所有</p>
	</footer>
	<!--页脚 END-->
	<!--吸底-->
	<div class="fixedBottomDiv w100 overflowH ">
		<div class="fixedBottomDivCon">
			<div class="w100 displayBox">
				<!--20160510 修改内容-->
				<a class="fixedBottom_collection FontColor4 f18 tc" id="collectionBtn">
            <span class="Icon_collection selected"></span><br><b>收　藏</b>
        </a>
				<!--20160510 修改内容 END-->
				<span class="line"></span>
				<a class="fixedBottom_gwc FontColor4 f18" href="#" target="_self">
					<div class="headerCart"><span>2</span></div><br>购物车
				</a>
				<!--
				<a class="nobuyBtn  boxflex1 tc f28">已售罄</a>
				-->
				<!--购买按钮-->
				<!--<a class="addToCarBtn tc f28 boxflex1" id="addToCarBtn">加入购物车</a>-->
				<a class="buyNowBtn tc f28 boxflex1" id="buyNowBtn">立即购买</a>
				<!--购买按钮END-->
			</div>
		</div>
	</div>
	<!--吸底 END-->
	<!--sku选择-->
	<div class="skuMark hide" id="skuMark"></div>
	<div class="w100 selectSKU bgColor3 hide" id="selectSKU">
		<a class="closeA"></a>
		<!--商品信息-->
		<div class="w95p displayBox borderBottom whiteOnLine proInf">
			<img src="../Content/Images/index/product1.jpg?v=20151215" class="productImg whiteOnLine mr10">
			<div class="boxflex1 pr30">
				<p class="f24 proName">Greenday 西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花西蘭花</p>
				<p id="itemProPrice2" class="FontColor6 f30">￥45</p>
			</div>
		</div>
		<!--商品信息 END-->
		<!--SKU选择区-->
		<div class="w95p borderBottom whiteOnLine pb10">
			<p class="itemTitle f28 mt10 mb10" id="sku1Title">尺码</p>
			<ul id="sku1" class="skuUL clearfix">
				<script type="text/x-jsrender" id="sku1Temp"> 
				<li class='{{if Flag==1}}selected{{else  Flag==-1}}disable{{/if}}' _skuid='{{:Sku}}' _forOrder='{{:ForOrder}}' _price='{{:Price}}' _subAttributes='{{:~jsonToString(SubAttributes)}}'>{{:Name}}</li>
				</script>
			</ul>
			<p class="itemTitle f28 mt10 mb10" id="sku2Title">颜色</p>
			<ul id="sku2" class="skuUL clearfix">
				<script type="text/x-jsrender" id="sku2Temp"> 
				<li class='{{if Flag==1}}selected{{else  Flag==-1}}disable{{/if}}' _skuid='{{:Sku}}' _forOrder='{{:ForOrder}}' _price='{{:Price}}'>{{:Name}}</li>
				</script>
			</ul>
		</div>
		<!--SKU选择区END-->
		<!--数量-->
		<div class="w95p pb10">
			<p class="itemTitle f28 mt10 mb10">数量</p>
			<div class=" skuNum whiteOnLine">
				<a class="reduceBtn boxSizingB whiteOnLine">—</a>
				<input type="number" class="numTxt boxSizingB tc" name="num" id="num" value="1">
				<a class="addBtn boxSizingB whiteOnLine">+</a>
			</div>
		</div>
		<!--数量 END-->
		<div class="w100 displayBox SKUBtnArea">
				<a class="addToCarBtn tc f28 boxflex1" id="addToCarBtn2">加入购物车</a>
				<a class="buyNowBtn tc f28 boxflex1" id="buyNowBtn2">立即购买</a>
		</div>
	</div>
	<!--sku选择 END-->
</div>
<script src="../Scripts/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../Scripts/common/common.js?v=201512160001"></script>
<!--页面独有脚本-->
<script src="../Scripts/jquery/TouchSlide.1.1.js?v=201509091111"></script>
<script type="text/javascript" src="../Scripts/jquery/jsrender-v1.0.0-beta.js"></script>
<script type="text/javascript" src="../Scripts/selectSKU.js?v=201601040001"></script>
<script type="text/javascript" src="../Scripts/item.js?v=201509091111"></script>
<!--页面独有脚本 END-->
</body>
</html>