/*母亲节活动*/
.con2 {
font-size: 62.5%; /* 10÷16=62.5% */
}
@media only screen and (min-width: 481px){
.con2 {
font-size: 94%!important; /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 561px){
.con2 {
 font-size: 109%!important; /* 17.44÷16=109% */
  }
}

.fs20{ font-size:2em;}
.fs40{ font-size:4em;}
.fs18{ font-size:1.8em;-webkit-text-size-adjust:none;
     -moz-text-size-adjust: none;
     -ms-text-size-adjust: none;
     -o-text-size-adjust: none;
     text-size-adjust: none;
}
body,.MContainer{ background:#eeeeee;}
.con1{ background:#fff7f9;}
.con2{ background:#fff0f2;}
.con3{ background:#fff7f9;}
.con1,.con2,.con3{ padding:18px 0px;}
.title{ width:36.13%; margin-bottom:10px;}
.list a{width:50%; float:left; padding-top:15px; padding-bottom:15px; background:#fff7f9 ;}
.list a img{ width:100%;}
.gotoIntro2 img{width:86.93%;padding-top:20px; padding-bottom:10px;}