@{
    var title = ViewData["title"];
    bool isShow = Convert.ToBoolean(ViewData["isShowProtocal"]);
    string token = Convert.ToString(ViewData["token"]);
    string mobilePhone = Convert.ToString(ViewData["mobilePhone"]);
    
    }
<header class="pageHeader w100 pr tc overflowH">
      <a class="returnBtn" id="returnBtn"></a>
      <b class="f36 FontColor1">@title</b>
      <a href="/" target="_self" class="gotoHomeBtn"></a>
  </header>
 <!--表单内容-->
  <div class="regForm w100 boxSizingB">
		<form>

            <input type="hidden" id="mobilePhone" value="@mobilePhone" />
            <input type="hidden" id="token" value="@token" />
		<!--选择国家地区-->
			<div class="regWrap w100  f30 mt15 bgColor3 pr selectArea" id="selectArea" style=" border:none">
				<p id="selectedP" class="pr boxSizingB">
					<label>国家地区</label><span class="selectItem selectedArea">中国大陆 +86</span><span class="downJT"></span>
				</p>
				<div class="selectItems w100 hide whiteOnLine" id="selectItems">
					<p _selectedId="86" class="whiteOnLine bgColor3 w100 selected ">
						<label></label><span class="selectItem">中国大陆 +86</span>
					</p>
					
				</div>
			</div>
		<!--选择国家地区 END-->
		<!--填写手机号-->
			<div class="regWrap regWrapP w100  whiteOnLine f30 FontColor3 mt15 bgColor3 displayBox boxSizingB">
					<label>手机号码</label>
					<div class="regTxtWrap boxflex1 pr10"><input type="tel" name="tel" id="tel" class="regTxt" maxlength="11"></div>
			</div>
		<!--填写手机号 END-->
		<!--按钮-->
		<a class="btn defaultBtn mt15" id="getCode">获取校验码</a>
		<!--按钮 END-->
		<!--同意协议-->
            @if(isShow){
		<p class="f24 FontColor3 mt10" style="line-height:160%">
			<span class="checkbox mr10" id="checkbox"></span>我已阅读并接受 <a href="@Url.Action("Terms1", "Help")" target="_self" class="FontColor5">《使用条款及细则》</a> 
		</p>
            }
		<!--同意协议 END-->
		</form>
  </div>
  <!--表单内容END-->